{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4" id="cartList">
	<div class="row">
		<div class="col-md-9">
			<h3 class="my-4 border-bottom pb-1">Корзина ({{totalitems}})</h3>
			<table class="table table-bordered">
		<thead>
			<tr>
				<th>Товар</th>
				<th>Количество</th>
				<th>Цена</th>
				<th>Всего</th>
			</tr>
		</thead>
		<tbody>
			{% for product_id,item in cart_data.items %}
			<tr>
				<td>
					<img src="/media/{{item.image}}" width="50" />
					<p><a href="/product/{{product_id}}">{{item.title}}</a></p>
				</td>
				<td>
					{{item.qty}}
				</td>
				<td>$ {{item.price}}</td>
				<td>$ {% widthratio item.price 1 item.qty %}</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"></td>
				<th>Итого</th>
				<th>&#x20BD {{total_amt}}</th>
			</tr>
			{% if totalitems %}
			<tr>
				<td colspan="4" align="right">
					<a href="https://demo.open-processing.ru/form/" class="btn btn-dark btn-sm">Оплатить <i class="fa fa-long-arrow-alt-right"></i></a>
				</td>
			</tr>
			{% endif %}
		</tfoot>
	</table>
		</div>
		<div class="col-md-3">
			<h3 class="my-4 border-bottom pb-1">Выбранный адрес</h3>
			<div class="card">
				<div class="card-body">
					<p><a href="/my-addressbook">{{address.address}}</a></p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}