{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<h3 class="my-4 border-bottom pb-1">Сброс пароля</h3>
	{% if validlink %}
	<table class="table table-bordered">
		<form method="post">
			{% csrf_token %}
			{{form.as_table}}
			<tr>
				<td colspan="2">
					<input type="submit" value="Сбросить пароль" class="btn btn-primary" />
				</td>
			</tr>
		</form>
	</table>
	{% else %}
	<p>Срок действия ссылки устарел. Повторите попытку.</p>
	{% endif %}
</main>
{% endblock %}